---
layout: default
permalink: /blog/
---
		<div class="blog-intro-row">
			<div class="blog-intro">
				<h1>Karl's Blog</h1>
			</div>
		</div>

		<ol class="blog-posts-row">
			{% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'"%}
			{% for year in posts_by_year %}
			<li>
				<h2>{{ year.name }}</h2>
				<ol class="blog-posts-for-year">
					{% for post in year.items %}
					<li>
						<div class="summary">
							<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
							<p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
							<p class="description">{{ post.description }}</p>
							<a class="read-more" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
						</div>
					</li>
					{% endfor %}
				</ol>
			</li>
			{% endfor %}
		</ol>

		<p class="blog-rss-subscribe">Subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS.</a></p>
