---
layout: default
permalink: /it/
---
	<div class="container">

		<div class="it-intro"><div class="it-intro-inner">
			<h1>IT Docs</h1>
			<p>TODO</p>
		</div></div>

		<div class="it-docs">
			<div><ol>
				{% assign root_docs = site.it_docs | where:"parent",null %}
				{% for root_doc in root_docs %}
				<li>
					<h2>{{ root_doc.title }}</h2>
					<p>
						<a href="{{ root_doc.url | prepend: site.baseurl }}">{{ root_doc.title }}</a>:
						{{ root_doc.description }}
					</p>
					<ol>
						{% assign sub_docs = site.it_docs | where:"parent",root_doc.id %}
						{% for sub_doc in sub_docs %}
						<li>
							<p>
								<a href="{{ sub_doc.url | prepend: site.baseurl }}">{{ sub_doc.title }}</a>:
								{{ sub_doc.description }}
							</p>
						</li>
						{% endfor %}
					</ol>
				</li>
				{% endfor %}
			</ol></div>
		</div>

	</div>

