--- 
title: Home
---

<h1>Documentation for davisonlinehome.name</h1>

<p>This site contains the IT documentation for the <code>davisonlinehome.name</code> intranet. The site is organized as a series of hierarchical topics, generally grouped by the various devices on the network.</p>

<h2>Servers</h2>
<ul>
<% topics("/servers/").each do |topic| %>
  <li><%= topic_summary_link(topic) %></li>
<% end %>
</ul>

<h2>Workstations</h2>
<ul>
<% topics("/workstations/").each do |topic| %>
  <li><%= topic_summary_link(topic) %></li>
<% end %>
</ul>

<h2>Miscellaneous</h2>
<ul>
<% topics("/misc/").each do |topic| %>
  <li><%= topic_summary_link(topic) %></li>
<% end %>
</ul>

<!--
<h2>Top-Level Topics</h2>
<ul>
<% topics("/").each do |topic| %>
  <li><%= topic.identifier %></li>
<% end %>
</ul>

<h2>Root Children</h2>
<ul>
<% @items.find { |item| item.identifier == "/" }.children.each do |item| %>
  <li><%= item.identifier %></li>
<% end %>
</ul>

<h2>Items</h2>
<ul>
<% @items.each do |item| %>
  <li><%= item.identifier %></li>
<% end %>
</ul>
-->
