@import "bootstrap";
@import "bootstrap/theme";

/* A large callout used on pages that occupies a decent chunk of the page vertically, and all of it horizontally. */
.jumbotron {
	text-align: center;
	background-color: transparent;
}

/* Ensure that inline `math` elements are rendered that way. */
math[display=inline] {
	display: inline;
}

/* List subscription form controls should be a bit larger. */
form.list-subscribe .controls {
	padding-top: 0.5em;
	font-size: 1.25em;
}

