.about-me-divider {
	margin-top: 5em;
	margin-bottom: 2em;
}

.about-me h2 {
	color: $gray-light;
}

.projects-intro {
	@include make-row;

	.projects-intro-inner {
		@include make-xs-column(12);

		h1 {
		}
	}
}

.projects {
	@include make-row;
	margin-bottom: 3em;

	.project {
		@include make-xs-column(12);
		margin-top: 3em;
		border-top: 1px solid $gray-lighter;
		padding-top: 1em;

		h2 {
			margin-top: 0;
			padding-top: 0;
		}
	}
}

.it-intro {
	@include make-row;

	.it-intro-inner {
		@include make-xs-column(12);

		h1 {
		}
	}
}

.it-docs {
	@include make-row;
	margin-bottom: 3em;

	> div {
		@include make-xs-column(12);

		> ol {
			list-style: none;
			margin-left: 0;
			padding-left: 0;
		}
	}
}

