<% max = config[:other_articles_max].to_i %>
<% @older_only ||= false %>
<% older_articles = n_older_articles(max, @reference_item) %>
<% newer_articles = n_newer_articles(max, @reference_item) %>

<% if (!older_articles.nil? && older_articles.length > 0) || (!@older_only && !newer_articles.nil? && newer_articles.length > 0) %>
<div id="otherArticles">
	<p>Other articles:</p>
	<div class="older">
		<ul>
<% older_articles.each do |item| %>
			<li><a href="<%= route_path(item) %>" title="<%= html_escape(item[:excerpt]) || '' %>">&laquo; <%= item[:title] %></a></li>
<% end %>
		</ul>
	</div>
<% if !@older_only %>
	<div class="newer">
		<ul>
<% newer_articles.reverse.each do |item| %>
			<li><a href="<%= route_path(item) %>" title="<%= html_escape(item[:excerpt]) || '' %>"><%= item[:title] %> &raquo;</a></li>
<% end %>
		</ul>
	</div>
<% end %>
</div>
<% end %>
