/* GENERAL TYPOGRAPHY */

@color_background: #fff;

* {
  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

body {
  background: @color_background;
}

p, dl, dt, math[display=block] {
	margin-top: 1.0em;
}

p, ul, ol, pre, dl {
  line-height: 1.25em;
}


h1 {
  font-size: 2.5em;
  font-weight: normal;

  letter-spacing: -1px;
}

h2, h3, h4, h5, h6 {
	margin-top: 1.25em;
}


/* LINKS */

@color_link_active: #f30;
@color_link_hover: #f90;

a {
  text-decoration: none;
	
	&:link, &:visited {
	  color: @color_link_active;
	}

	&:hover {
		color: @color_link_hover;
	}
}


/* LISTS */

ul, ol {
	margin-top: 1.25em;
	margin-left: 1.0em;

	ul, ol {
		margin-top: 0;
	}
}

p + ul, p + ol {
	margin-top: 0.25em;
}

li {
  line-height: 1.25em;
}

ul li {
  list-style-type: square;
}


/* SIDEBAR */

@color_sidebar_headings: #333;

#sidebar {
  line-height: 0.75em;
}

#sidebar h2 {
  margin-top: 0.9em;

  font-size: 0.9em;
  letter-spacing: 1px;

  text-transform: uppercase;
  color: @color_sidebar_headings;
}

#sidebar ul {
  margin-top: 0.5em;

	li {
	  font-size: 0.9em;
	  list-style-type: none;
	}
}

/* CODE */

pre {
	margin-top: 1.25em;
	border: dashed 1px gray;
	padding: 0.1em 1.0em;
	background: LightGray;
	overflow-x: auto;
}

p + pre {
	margin-top: 0.25em;
}

code {
	font-family: monospace;
	font-size: 1.2em;
}


/* BLOCKQUOTES */

blockquote {
	margin-left: 1.0em;
	border-left: 3px solid #ccc;
	padding-left: 1.0em;
}

/* DEFINITION LISTS */

dt {
	font-weight: bold;
	font-style: italic;
}

dd {
	margin: 0;
	padding-left: 1.0em;
}

/* MATH */

math[display=inline] {
	display: inline;
}

